.lvl2 {
  height: 7px;
  width:100%;
  background-color: #ececec;

  &-block {
    position: absolute;
    left: 42%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 18px solid #ececec;
    text-align: center;
  }
}
.head {
  max-width: 540px;
  min-width: 320px;

    h1 {
      font-size: 24px;
      font-family: "BEBAS";
      margin-bottom: 15px;
    }
      p {
        line-height: 15px;
        font-size: 12px;
        font-family: "HelveticaNeueItalic";
        color: #bbbbbb;
        margin-bottom: 15px;
      }

  }
.about-pater {
  background-image: url(../img/icons/patern-about.png);
height: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}
.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &-block {
max-width: 300px;
min-width: 290px;
    h1 {
      color: #474747;
      font-size: 18px;
      font-family: "BEBAS";
      margin-bottom: 27px;
    }
    h2 {
      font-size: 12px;
      color: #b9b8b8;
      font-family: "HelveticaNeue";
      margin-bottom: 27px;
    }
    p {
      color: #6a6a6a;
      font-size: 12px;
      font-family: "HelveticaNeue";
      margin-bottom: 60px;
    }
  }
}
@media (max-width: 1200px) {

}
@media (max-width: 993px) {
.about {
  justify-content: space-around;
}
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}



.block-last {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .block-last_bloki {
    max-width: 300px;
    min-width: 290px;

    img {

    }

    .block-last_bloki__2 {
      display: flex;
      justify-content: space-between;
      margin-top: 18px;
      .block-last_bloki__2___name {

        h1 {
          color: #474747;
          font-size: 18px;
          font-family: "BEBAS";
        }

        p {
          color: #a5a4a4;
          font-size: 12px ;
          padding-top: 10px;
          padding-bottom: 20px;
        }
      }

      .block-last_bloki__2___number {

        h2 {
          color: #474747;
          font-size: 12px;
          font-family: "BEBAS";
        }
      }
    }

    p {
      font-size: 12px;
      font-family: "HelveticaNeue";
      color: #717171;
    }
  }
}
@media (max-width: 1200px) {

}
@media (max-width: 993px) {
  .block-last {
    justify-content: space-around;

  }
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}
.poq {
  margin-bottom: 40px;
  }
.about-pater1 {
  background-image: url(../img/icons/patern-about.png);
  height: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-pater2 {
  background-image: url(../img/icons/patern-about.png);
  height: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}






